/* Coloured Folders
a CSS snippet by Lithou

This will allow the colouring of the top level folders into sections that "drop down" when opened. 
This is currently set to be the same colour regardless of theme, but you can change that by copy/pasting the colors from the root section into light/dark theme then changing them according to preference.
The colours are rainbow coloured and 16 in number by default. They are shades such that white/lightgrey text shows up the best. Some have a bit let contrast (the lighter blue and the yellow) but should still be visible. Again, change them however you would like. 
*/
:root{
    /* folder colours */
    --Fold0: #d32f2f;
    --Fold1: #f39b9b;
    --Fold2: #f0ae59;
    --Fold3: #f1ca5d;
    --Fold4: #9dcd78;
    --Fold5: #8ab6e2;
    --Fold6: #aaa5db;
    --Fold7: #d399cf;
    --Fold8: #cda485;
    --Fold9: #b9c0c7;
    --FoldA: #f0aaaa;
    --FoldB: #f1b86f;
    --FoldC: #7acc93;
    --FoldD: #87c9d9;
    --FoldE: #96abde;
    --FoldF: #eb9fc9;
    --FoldText: #000000;
    /* line styles for nesting indicators */

}

/* Folder Title Colors */      
.nav-folder-children .nav-folder:nth-child(9n+2) .nav-folder-title,
.nav-folder-children .nav-folder .nav-folder:nth-child(9n+2) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(9n+2) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(9n+2) .nav-folder-title {
    color: var(--Fold1);
}
.nav-folder-children .nav-folder:nth-child(9n+3) .nav-folder-title,
.nav-folder-children .nav-folder .nav-folder:nth-child(9n+3) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(9n+3) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(9n+3) .nav-folder-title {
    color: var(--Fold2);
}
.nav-folder-children .nav-folder:nth-child(9n+4) .nav-folder-title,
.nav-folder-children .nav-folder .nav-folder:nth-child(9n+4) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(9n+4) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(9n+4) .nav-folder-title {
    color: var(--Fold3);
}
.nav-folder-children .nav-folder:nth-child(9n+5) .nav-folder-title,
.nav-folder-children .nav-folder .nav-folder:nth-child(9n+5) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(9n+5) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(9n+5) .nav-folder-title {
    color: var(--Fold4);
}
.nav-folder-children .nav-folder:nth-child(9n+6) .nav-folder-title,
.nav-folder-children .nav-folder .nav-folder:nth-child(9n+6) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(9n+6) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(9n+6) .nav-folder-title {
    color: var(--Fold5);
}
.nav-folder-children .nav-folder:nth-child(9n+7) .nav-folder-title,
.nav-folder-children .nav-folder .nav-folder:nth-child(9n+7) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(9n+7) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(9n+7) .nav-folder-title {
    color: var(--Fold6);
}
.nav-folder-children .nav-folder:nth-child(9n+8) .nav-folder-title,
.nav-folder-children .nav-folder .nav-folder:nth-child(9n+8) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(9n+8) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(9n+8) .nav-folder-title {
    color: var(--Fold7);
}
.nav-folder-children .nav-folder:nth-child(9n+9) .nav-folder-title,
.nav-folder-children .nav-folder .nav-folder:nth-child(9n+9) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(9n+9) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(9n+9) .nav-folder-title {
    color: var(--Fold8);
}
.nav-folder-children .nav-folder:nth-child(9n+10) .nav-folder-title,
.nav-folder-children .nav-folder .nav-folder:nth-child(9n+10) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(9n+10) .nav-folder-title,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder .nav-folder:nth-child(9n+10) .nav-folder-title {
    color: var(--Fold9);
}

